@mixin fixedBackground($url) {
  background-image: url($url);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

@mixin tags() {
  .tags {
    margin-block-start: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    cursor: default;
    span {
      display: block;
      background-color: $color3;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: $color4;
      }
    }
  }
}

@mixin link() {
  a {
    color: black;
    text-decoration: underline transparent;
    transition: text-decoration 0.2s ease-in-out;
    &:hover {
      text-decoration: underline $color1;
    }
  }
}
