/* Coolors Exported Palette - coolors.co/628395-96897b-f78154-191919-ede3e4 */

/* HSL */
$blue: hsla(201%, 21%, 48%, 1);
$white: hsla(60%, 24%, 96%, 1);
$orange: hsla(17%, 91%, 65%, 1);
$black: hsla(0%, 0%, 10%, 1);
$gray: hsla(354%, 22%, 91%, 1);

/* RGB */
$blue: rgba(98, 131, 149, 1);
$white: rgba(247, 247, 242, 1);
$orange: rgba(247, 129, 84, 1);
$black: rgba(25, 25, 25, 1);
$gray: rgba(237, 227, 228, 1);
