@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/*
@viewport {
  width: device-width;
  height: device-height;
  initial-scale: 1;
  usrer-scalable: no;
}*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #1e293a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  color: #f2f6f2;
}

menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  visibility: visible;
  top: 0;
  bottom: 95px;
  right: 0;
  width: 100%;
  max-width: 300px;
  z-index: 1;
}

menu div {
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

menu div span {
  display: block;
  margin: 10px;
  padding: 15px;
  outline: 2px solid #f2f6f2;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  font-size: 1em;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #1e293a;
}

menu div.active span {
  background-color: #fa8625;
}

menu div:hover span {
  color: #1e293a;
  background-color: #f2f6f2;
  font-size: 1.5em;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

menu.hidden div {
  opacity: 0;
}

nav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75px;
  height: 75px;
  position: fixed;
  margin: 5px;
  background-color: #fa8625;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  border: 0.5vh solid #f2f6f2;
  -webkit-box-shadow: 0px 0px 10px 0px black;
          box-shadow: 0px 0px 10px 0px black;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

nav:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #fa8625, inset 0px 0px 10px 0px black;
          box-shadow: 0px 0px 10px 0px #fa8625, inset 0px 0px 10px 0px black;
}

nav div {
  width: 35px;
  height: 5px;
  background-color: #f2f6f2;
  margin: 2.5px 0;
  -webkit-transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  border-radius: 2px;
}

nav div:nth-child(1) {
  -webkit-transition: 0.2s ease-in-out 0.2s;
  transition: 0.2s ease-in-out 0.2s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

nav div:nth-child(3) {
  position: absolute;
  top: calc(50% - 5px);
}

nav div:nth-child(4) {
  -webkit-transition: 0.2s ease-in-out 0.2s;
  transition: 0.2s ease-in-out 0.2s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

nav.open {
  background-color: #1e293a;
}

nav.open > div:nth-child(1) {
  -webkit-transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  opacity: 0;
}

nav.open > div:nth-child(2) {
  -webkit-transition: -webkit-transform 0.2s ease-in-out 0.2s;
  transition: -webkit-transform 0.2s ease-in-out 0.2s;
  transition: transform 0.2s ease-in-out 0.2s;
  transition: transform 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0.2s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav.open > div:nth-child(3) {
  -webkit-transition: -webkit-transform 0.2s ease-in-out 0.2s;
  transition: -webkit-transform 0.2s ease-in-out 0.2s;
  transition: transform 0.2s ease-in-out 0.2s;
  transition: transform 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0.2s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav.open > div:nth-child(4) {
  -webkit-transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  opacity: 0;
}

content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
}

content section {
  padding: 10px;
  width: 100vw;
}

@media screen and (max-width: 500px) {
  content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  content section {
    height: 100vh;
  }
}
/*# sourceMappingURL=styles.css.map */