@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: #02040f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  color: #ebebeb;
}

menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: wrap-reverse column;
          flex-flow: wrap-reverse column;
  position: fixed;
  visibility: visible;
  top: 0;
  bottom: 95px;
  right: 0;
  width: 100%;
  max-width: 300px;
  z-index: 1;
}

menu div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  height: 70px;
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

menu div span {
  padding: 15px;
  outline: 2px solid #ebebeb;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  font-size: 1.2em;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #02040f;
}

menu div.active span {
  background-color: #d81159;
}

menu div:hover span {
  color: #02040f;
  background-color: #ebebeb;
  font-size: 1.5em;
  -webkit-transform: rotate(2.5deg);
          transform: rotate(2.5deg);
}

menu.hidden div {
  visibility: hidden;
  opacity: 0;
}

nav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75px;
  height: 75px;
  position: fixed;
  margin: 5px;
  background-color: #d81159;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  border: 5px solid #ebebeb;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

nav:hover {
  border: 10px solid #d81159;
}

nav div {
  width: 35px;
  height: 5px;
  background-color: #ebebeb;
  margin: 2.5px 0;
  -webkit-transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  border-radius: 2px;
}

nav div:nth-child(1) {
  -webkit-transition: 0.2s ease-in-out 0.2s;
  transition: 0.2s ease-in-out 0.2s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

nav div:nth-child(3) {
  position: absolute;
  top: calc(50% - 5px);
}

nav div:nth-child(4) {
  -webkit-transition: 0.2s ease-in-out 0.2s;
  transition: 0.2s ease-in-out 0.2s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

nav.open {
  background-color: #02040f;
}

nav.open > div:nth-child(1) {
  -webkit-transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  opacity: 0;
}

nav.open > div:nth-child(2) {
  -webkit-transition: -webkit-transform 0.2s ease-in-out 0.2s;
  transition: -webkit-transform 0.2s ease-in-out 0.2s;
  transition: transform 0.2s ease-in-out 0.2s;
  transition: transform 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0.2s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav.open > div:nth-child(3) {
  -webkit-transition: -webkit-transform 0.2s ease-in-out 0.2s;
  transition: -webkit-transform 0.2s ease-in-out 0.2s;
  transition: transform 0.2s ease-in-out 0.2s;
  transition: transform 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0.2s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav.open > div:nth-child(4) {
  -webkit-transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  opacity: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  height: 100vh;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  width: 100vw;
}

main section h1 {
  font-size: 2em;
}

main section h2 {
  font-size: 1.5em;
}

main section content {
  font-size: 1.1em;
  padding-left: 10px;
}

main section content em {
  font-style: normal;
  color: #00ffff;
}

main section content a {
  display: inline-block;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  color: #ebebeb;
  -webkit-transition: -webkit-text-decoration 0.2s ease-in-out;
  transition: -webkit-text-decoration 0.2s ease-in-out;
  transition: text-decoration 0.2s ease-in-out;
  transition: text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
}

main section content a:hover, main section content a:active {
  -webkit-text-decoration: underline #00ffff;
          text-decoration: underline #00ffff;
}

main section content block {
  display: block;
  padding: 5px;
  border-left: 2px solid #00ffff;
  margin: 20px 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main section content block:hover {
  border-left: 4px solid #00ffff;
}

main section content block h1 {
  font-size: 1.2em;
  font-weight: bold;
  display: inline;
}

main section content block date,
main section content block tags {
  font-size: 1.1em;
  display: inline;
  font-weight: normal;
}

main section content block date::before,
main section content block tags::before {
  content: " | ";
}

@media screen and (max-width: 500px), (max-height: 430px) {
  body {
    overflow-y: auto;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  main section {
    margin-bottom: 20px;
    height: auto;
  }
  main section content block h1 {
    display: inline;
  }
  main section content block date,
  main section content block tags {
    display: block;
  }
  main section content block date::before,
  main section content block tags::before {
    content: none;
  }
}

@media print {
  * {
    color: black !important;
  }
  nav,
  menu {
    display: none;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */