@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import "_palette.scss";
@import "_mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
    to right,
    $dark_shade 0%,
    mix($dark_shade, darken($dark_accent, 35)) 100%
  );
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  color: $light_shade;
}

menu {
  user-select: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-flow: wrap-reverse column;
  position: fixed;
  visibility: visible;
  top: 0;
  bottom: 95px;
  right: 0;
  width: 100%;
  max-width: 300px;
  z-index: 1;
  div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;
    height: 70px;
    margin-right: 10px;
    justify-content: center;
    span {
      padding: 15px;
      outline: 2px solid $light_shade;
      transform: rotate(5deg);
      font-size: 1.2em;
      transition: 0.2s ease-in-out;
      background-color: $dark_shade;
    }
    &.active span {
      background-color: $dark_accent;
    }
    &:hover span {
      color: $dark_shade;
      background-color: $light_shade;
      font-size: 1.5em;
      transform: rotate(2.5deg);
    }
  }
  &.hidden {
    pointer-events: none;
    div {
      visibility: hidden;
      opacity: 0;
    }
  }
}

nav {
  user-select: none;
  cursor: pointer;
  @include flexCenter;
  flex-direction: column;
  width: 75px;
  height: 75px;
  position: fixed;
  margin: 5px;
  background-color: $dark_accent;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  border: 5px solid $light_shade;
  transition: 0.2s ease-in-out;
  z-index: 2;
  &:hover {
    border: 10px solid $dark_accent;
  }

  div {
    width: 35px;
    height: 5px;
    background-color: $light_shade;
    margin: 2.5px 0;
    transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
    border-radius: 2px;
    &:nth-child(1) {
      transition: 0.2s ease-in-out 0.2s;
      transform: translate(0, 0);
    }
    &:nth-child(3) {
      position: absolute;
      top: calc(50% - 5px);
    }
    &:nth-child(4) {
      transition: 0.2s ease-in-out 0.2s;
      transform: translate(0, 0);
    }
  }

  &.open {
    background-color: $dark_shade;
    & > div:nth-child(1) {
      transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
      transform: translate(0, 10px);
      opacity: 0;
    }
    & > div:nth-child(2) {
      transition: transform 0.2s ease-in-out 0.2s;
      transform: rotate(45deg);
    }
    & > div:nth-child(3) {
      transition: transform 0.2s ease-in-out 0.2s;
      transform: rotate(-45deg);
    }
    & > div:nth-child(4) {
      transition: 0.2s ease-in-out, opacity 0.1s ease-in-out 0.1s;
      transform: translate(0, -10px);
      opacity: 0;
    }
  }
}

main {
  display: flex;
  flex-flow: nowrap row;
  height: 100vh;
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 100vw;
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.5em;
    }
    content {
      font-size: 1.1em;
      padding-left: 10px;
      em {
        font-style: normal;
        color: $light_accent;
      }
      a {
        display: inline-block;
        text-decoration: underline transparent;
        color: $light_shade;
        transition: text-decoration 0.2s ease-in-out;
        &:hover,
        &:active {
          text-decoration: underline $light_accent;
        }
      }
      block {
        display: block;
        padding: 5px;
        border-left: 2px solid $light_accent;
        margin: 20px 0;
        transition: 0.2s ease-in-out;
        &:hover {
          border-left: 4px solid $light_accent;
        }
        h1 {
          font-size: 1.2em;
          font-weight: bold;
          display: inline;
        }
        date,
        tags,
        git {
          font-size: 1.1em;
          display: inline;
          font-weight: normal;
          &::before {
            content: " | ";
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px), (max-height: 430px) {
  body {
    overflow-y: auto;
  }
  main {
    flex-direction: column;
    width: 100%;
    height: auto;
    section {
      margin-bottom: 20px;
      height: auto;
      content {
        block {
          h1 {
            display: inline;
          }
          date,
          tags {
            display: block;
            &::before {
              content: none;
            }
          }
        }
      }
    }
  }
}

@media print {
  * {
    color: black !important;
  }
  nav,
  menu {
    display: none;
  }
  main {
    flex-direction: column;
    height: auto;
  }
}
