@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import "_palette.scss";
@import "_mixins.scss";

html {
  font-family: "Open Sans", sans-serif;
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    color: $black;
    margin: 0;

    #CV {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      max-width: 1000px;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      h2 {
        border-bottom: 1px solid $orange;
      }

      #contact-info {
        @include flexSeparate();
        padding: 15px 5px;
        background-color: $gray;
        & * {
          padding: 0px 5px;
        }
      }

      .dated-info {
        @include flexCenter();
        flex-direction: column;
        background-color: $gray;
        padding: 0 5px;
        .element {
          @include flexSeparate();
          width: 100%;
          padding: 5px 5px;
          &:nth-child(even) {
            background-color: $white;
          }
          .more-info {
            //display: none;
            text-align: left;
            @media print {
              display: block;
            }
            ul {
              margin: 0;
            }
          }
        }
      }

      .list-info {
        display: grid;
        grid-template-columns: auto auto;

        & > div {
          display: list-item;
          margin-left: 40px;
        }

        @media screen and (max-width: 400px) {
          grid-template-columns: auto;
        }
      }
    }

    footer {
      @include flexSpace();
      width: 100%;
      padding: 15px 0;
      margin-top: 10px;
      background-color: $black;
      color: $white;
      @media print {
        display: none;
      }

      a {
        text-decoration: none;
        color: $white;
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

/*********************************
* This part is for the page in   *
* which the user has no language *
*********************************/
#nolang {
  body {
    @include flexCenter();
    flex-direction: column;
    display: flex;
    height: 100vh;
    margin: 0;
    h1 {
      text-align: center;
    }

    #links {
      @include flexCenter();
      flex-direction: column;
      margin: 0 15px;

      a {
        border-radius: 5px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        margin: 10px 0;
        color: $white;
        background-color: $black;
        padding: 15px;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        user-select: none;
        &:hover {
          cursor: pointer;
          background-color: $gray;
          color: black;
        }
      }
    }
  }
}
